# ====================================================
# 🔒 This code is generated based on direct instructions
# from Ervin Remus Radosavlevici (© ervin210@icloud.com). radosavlevici210@icloud.com
# No AI authorship. No modification beyond instructions.
# ====================================================